<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<table>
  <thead>
    <tr>
      <th>Moderators</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board.moderators.each do |moderator| %>
      <tr>
        <td><%= moderator.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
