<p id="notice"><%= notice %></p>

<% content_for :sidebar do %>
  <h3>Welcome to <%= @board.title %></h3>
  <h4><%= @board.description %></h4>

  <h3><%= @board.subscribers.count %> subscribers</h3>
  <% if current_user and current_user.subscribers.map(&:board).include? @board %>
      <%= link_to 'Unsubscribe', subscribe_board_path(@board), method: :delete %>
  <% else %>
      <%= link_to 'Subscribe', subscribe_board_path(@board), method: :put %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Moderators</th>
      </tr>
    </thead>

    <tbody>
      <% @board.moderators.each do |moderator| %>
        <tr>
          <td><%= moderator.user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Create a new post', new_board_post_path(@board) %>

  <% if @board.moderators.map(&:user).include? current_user %>
    <br>
    <%= link_to 'Edit board', edit_board_path(@board) %>
  <% end %>
<% end %>

<% unless @board.posts.any? %>
  <h2>There aren't any posts yet!</h2>
<% end %>

<% @board.posts.each do |post| %>
  <h2><%= link_to post.title, post.link %></h2>
  <div>
    submitted by <%= post.user.username %> |
    <%= link_to 'Comments', post_path(post.id) %>
    <% if post.user == current_user %>
      | <%= link_to 'Edit', edit_post_path(post.id) %> |
      <%= link_to 'Delete', post_path(post.id), method: :delete, data: { confirm: 'Delete post?' } %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
