<p id="notice"><%= notice %></p>

<% content_for :sidebar do %>
  <h3>Welcome to <%= @board.title %></h3>
  <h4><%= @board.description %></h4>

  <% if current_user.subscribers.map(&:board).include? @board %>
      <%= link_to 'Unsubscribe', subscribe_board_path(@board), method: :delete %>
  <% else %>
      <%= link_to 'Subscribe', subscribe_board_path(@board), method: :put %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Moderators</th>
      </tr>
    </thead>

    <tbody>
      <% @board.moderators.each do |moderator| %>
        <tr>
          <td><%= moderator.user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
